---

# docker-compose version 3 does not support ipv6
version: "2.1"
{% if ipv6 %}
networks:
    ip6net:
        name: {{name}}_ipv6net
        enable_ipv6: true
{% endif %}

services:

{% for n in range(nodes) %}
    redis_{{name}}_{{n+1}}:
        image: "{{image}}:{{version}}"
        container_name: redis{{name}}{{n+1}}
        ports:
            - "{{ports[n]}}:{{listening_port}}"
{% if redisoptions|length != 0 or conffile != None %} 
        volumes:
{% for m in mounts %}
            - {{m['local']}}:{{m['remote']}}
{% endfor %}
{% endif %}
{% if conffile != none %}
            - {{conffile}}:/usr/local/etc/redis/redis.conf
{% endif %}

{% if ipv6 %}
        networks:
            - {{name}}_ipv6net
{% endif %}
{% if replicaof == -1 %}
{% if n == 0 %}
        command: redis-server {{ ' '.join(redisoptions)|safe }}
{% else %}
        command: redis-server --replicaof redis{{name}}1 6379 {{ redisoptions|join(' ')}}
{% endif %}
{% else %}
        command: redis-server --replicaof {{dockerhost}} {{replicaof}} {{ redisoptions|join(' ')}}
{% endif %}
{% endfor%}